# DB
MONGO=""
# Security
JWT_SECRET="secret"
NODE_ENV="development"

# Services
RESEND=""

# Allowed frontend clients
FRONTEND_ORIGIN="http://localhost:4000"

# Payments -- DEV
DODO_TOKEN=""
DODO_WEBHOOK_TOKEN=""
PRODUCT_ID=""

# Payments -- PROD
DODO_TOKEN_PROD=""
DODO_WEBHOOK_TOKEN_PROD=""


# Start Ngrok tunnel to test payment webhook